<form class="" formGroup="itemForm" (ngSubmit)="onRegister()">
    <h2>Registration Form</h2>
    <p>Please enter details for bride</p>
    <div>
        <label for="FullName" class="form-label">Full Name:</label>
        <input type="text" name="FullName" id="FullName" placeholder="FullName" formControlName="FullName" [(ngModel)]="formModel.FullName" class="form-control">
        <div *ngIf="itemForm.controls['FullName'].invalid && (itemForm.controls['FullName'].dirty || itemForm.controls['FullName'].touched)" class="ng-dirty">
            <span *ngIf="itemForm.controls['FullName'].errors">
                <span class="text-danger">Please enter proper name</span>
            </span>
        </div>
    </div>
    <div>
        <label for="Age" class="form-label">Age:</label>
        <select type="Age" name="Age" id="Age" placeholder="Age" formControlName="Age" [(ngModel)]="formModel.Age" class="form-control">
            <option value="null">null</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
        </select>
        <div *ngIf="itemForm.controls['Age'].invalid && (itemForm.controls['Age'].dirty || itemForm.controls['Age'].touched)" class="ng-dirty">
            
            <span *ngIf="itemForm.controls['Age'].errors">
                <span>Please select the age Sankha!</span>
            </span>
        </div>
    </div>
    <div>
        <label for="Type" class="form-label">Type:</label>
        <input type="text" name="Type" id="Type" placeholder="Type" formControlName="Type" class="form-control" [(ngModel)]="formModel.Type">
        <div *ngIf="itemForm.controls['Type'].invalid && (itemForm.controls['Type'].dirty || itemForm.controls['Type'].touched)" class="ng-dirty">
            <span *ngIf="itemForm.controls['Type'].errors">
                <span>Please enter correct type</span>
            </span>
            <span *ngIf="itemForm.get('Type')?.hasError('wrongType')">
                <span>Illegal Type</span>
            </span>
        </div>
    </div>

    <div class="d-grid">
        <button class="btn btn-outline-dark" type="submit" routerLink="/welcome" routerLinkActive="router-link-active" >Submit</button>
    </div>
</form>