<div class="container text-center text-warning">
    <div class="jumbotron">
        <h1>Welcome to Sankha's Matrimonal Site</h1>
        <p>We are finding the best match for Sankha</p>
    </div>
    <div class="row">
        <div clas="col-md-6">
            <h2>About Sankha</h2>
            <p>Sankha is a very critical thinker which he does only by drinking milk</p>
        </div>
        <div>
            <button type="submit" routerLink="/registration-form" class="btn btn-danger">Click to Find him a Bride</button>
        </div>
    </div>
</div>
